nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

#imagePlace {
    border: solid 2px black;
    background-image: url(http://127.0.0.1:5500/dist/ace7257355d324f2346e.jpg);
    background-size: cover;
    display: block;
    margin: auto;
    width: 600px;
    height: 300px;
}

#title {
    display: flex;
    justify-content: center;
}

#presentation {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-inline: 100px;
}